html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: #000;
    overflow: hidden;
}

canvas {
    display: block;
}

#player_controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
}

#player_controls #soundcloud {
    flex: 1;
}

#player_controls #audio_link {
    flex: 2;
    padding-left: 0.5em;
}
